@use '../abstracts/' as *;

.form__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.__input {
    width: 100%;
    height: 100%;
    border: 1px solid $border;
    border-right: 0;
    outline: none;
    padding: 0 1rem;
    font-size: 1.6rem;
    color: $fontBlack;
}

.btn-form {
    width: 15rem;
    height: 5rem;
    background-color: $bgBlack;

    span {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.3;
        color: $fontWhite;
    }
}