$boxShadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);
$padding: 14rem 0;
$subFont: "Open Sans", sans-serif;
$border: #ededed;
$border2: #8e8b8c;
$borderBlack: #000;
$fontBlack: #000;
$fontWhite: #fff;
$fontColor2: #8e8b8c;
$fontColor3: #f8f8f8;
$fontColor4: #969696;
$bgWhite: #fff;
$bgBlack: #000;
$bg2: #f8f8f8;
$bg3: #8e8b8c;

$imgUrl: '/img/';